[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sathishElu
[access "refs/for/refs/*"]
	read = group user/sathishElu
	push = group user/sathishElu
	label-Code-Review = -2..+2 group user/sathishElu
	label-Verified = -1..+1 group user/sathishElu
	rebase = group user/sathishElu
	removeReviewer = group user/sathishElu
	submit = group user/sathishElu
[access "refs/heads/*"]
	read = group user/sathishElu
	create = group user/sathishElu
	push = +force group user/sathishElu
	pushMerge = group user/sathishElu
[access "refs/tags/*"]
	push = group user/sathishElu
	push = +force group user/sathishElu
